name: build-binary

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Check
        run: cargo check

      - name: Test
        run: cargo test

  prepare:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            id: lazy-pulumi-linux
            target: linux
          - os: macos-latest
            id: lazy-pulumi-darwin
            target: darwin
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Zig
        if: matrix.os == 'ubuntu-latest'
        uses: goto-bus-stop/setup-zig@7ab2955eb728f5440978d5824358023be3a2802d # v2.2.1
        with:
          version: 0.13.0

      - name: Install cargo-zigbuild
        if: matrix.os == 'ubuntu-latest'
        run: cargo install cargo-zigbuild

      - name: Run GoReleaser (Split Build)
        uses: goreleaser/goreleaser-action@90a3faa9d0182683851fbfa97ca1a2cb983bfca3 # v6.2.1
        with:
          version: latest
          args: release --clean --split --id ${{ matrix.id }} --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.target }}
          path: dist/**/*
          if-no-files-found: error

  release:
    needs: prepare
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: artifacts-*
          merge-multiple: true
          path: dist

      - name: Run GoReleaser (Merge & Release)
        uses: goreleaser/goreleaser-action@90a3faa9d0182683851fbfa97ca1a2cb983bfca3 # v6.2.1
        with:
          version: latest
          args: release --clean --merge --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
